@CHARSET "UTF-8";
/**
 * 登陆界面样式
 * @Author GongchuangSu
**/
body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.login-block {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #337ab7;
    margin: 80px auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #337ab7;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #337ab7;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #337ab7;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    margin-bottom: 4px;
}

.login-block button:hover {
    background: #5093CE;
}

.login_remember {
	margin-top: -8px;
	margin-bottom: 8px;
    height: 24px;
    font-size: 14px;
    font-family: Montserrat;
}

.login_remember input#remember_me {
	margin-top: 0;
	vertical-align:text-top;
	width: 18px;
	height: 18px;			
}

.login_remember a {
	font-size: 14px;
	font-family: Montserrat;
	text-decoration: none;
	color: #C7C7C7;
	float: right;
	margin-right: 5px;
}

.login_remember a:hover {
	text-decoration: underline;
	color: #545454;	
}

.login_createAccount {
	font-size: 14px;
	font-family: Montserrat;	
	color: #C7C7C7;		
	text-align:center
}

.login_createAccount a {
	text-decoration: none;
	color: #C7C7C7;	
}

.login_createAccount a:hover {
	text-decoration: underline;
	color: #545454;	
}